---
layout: modern
title: Artwork
browser_title: Boning's Artwork
body_class: artwork-page
nav_active: artwork
footer_variant: compact
scripts:
  - /assets/js/pages/artwork.js
---
{% assign sorted_artwork = site.artwork | sort: "date" | reverse %}
{% include pages/artwork/hero.html artworks=sorted_artwork %}
<main class="artwork-content" data-artwork-page>
  {% include pages/artwork/highlights.html %}
  {% include pages/artwork/collection.html artworks=sorted_artwork %}
</main>
{% include pages/artwork/viewer.html %}
