---
layout: modern
title: Home
browser_title: Boning Dong
body_class: home-page
scripts:
  - /assets/js/pages/home.js
---
{% include pages/home/hero.html %}
{% assign home_section_total = 3 %}
{% if site.data.home.notes_preview.enabled %}
  {% assign home_section_total = 4 %}
{% endif %}
<main>
  {% include pages/home/about.html %}
  {% include pages/home/experiences.html total=home_section_total %}
  {% include pages/home/work.html total=home_section_total %}
  {% include pages/home/skills.html total=home_section_total %}
  {% if site.data.home.notes_preview.enabled %}
    {% include pages/home/notes.html total=home_section_total %}
  {% endif %}
</main>
