---
layout: default
title: home
browser_title: Boning's Page
type: index
styles:
  - /assets/css/index/timeline.css
  - /assets/css/index/showcase.css
  - /assets/css/index/skills.css
scripts:
  - https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js
  - https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js
  - https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js
  - /assets/js/index/main.js
---
<!-- Navigation Bar Section -->
{% include index/navbar.html %}
<!-- Page Banner Section -->
<section id="banner" class="banner">
  <div class="title-section">
    <div style="top: 40%; position: absolute;">
      <h1 class="title mb-4">Boning Dong</h1>
      <p class="subtitle my-1">Computer Engineering | Art & Technology Student</p>
      <p class="subtitle">University of California, Santa Barbara</p>
    </div>
  </div>
</section>
<!-- About Me Section -->
<section id='about'>
  <div class="about-section" style="text-align: center;">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-md-4" style="background-color: transparent;">
          <img class="portrait" src="{{ site.baseurl }}/assets/img/index/me5.jpg" alt="">
        </div>
        <div class="col-md-8 py-md-5 pt-4 p-md-5">
          <h2 class="section-title">Engineer, Programmer, Hobbyist Painter & Designer</h2>
          <p>Born and raised in Beijing, China, I am currently pursuing my Bachelor's degree at the University of California, Santa Barbara. Engineering is my life, and drawing is my love. You might think these are complete opposites, but in my opinion, the two are perfectly coupled.</p>
          <p><a href="#footer" class="general-button">Contact Me</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Experiences Section -->
<section id='experience'>
  {% include index/timeline.html %}
</section>
<section id='showcase'>
  {% include index/showcase.html %}
</section>
<section id="skills">
  {% include index/skills.html %}
</section>
<!-- Footer Section -->
<!-- Footer -->
{% include index/footer.html %}
<!-- Footer -->
