---
layout: default
title: projects
browser_title: Boning's Projects
type: showcase
styles:
  - /assets/css/showcase/projects.css
scripts:
  - https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js
  - /assets/js/showcase/masonry.js
---
<!-- Navigation bar -->
{% include showcase/navbar.html %}
<!-- Banner Section -->
{% include showcase/banner.html
  banner_class="projects-banner"
  title="Projects"
  subtitle="Engineering | Coding | Science"
  label="Projects"
%}
{% assign sorted = site.projects | sort: "date" | reverse %}
<!-- Cards Section -->
<section class="container mb-5">
  <div class="showcase">
    {% for project in sorted %}
      {% include showcase/project-card.html project=project %}
    {% endfor %}
  </div>
</section>
