---
title: projects
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Framework-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/showcase/projects.css">
  <link rel="stylesheet" href="/assets/css/showcase/style.css">
  <link rel="stylesheet" href="/assets/css/showcase/navbar.css">
  <title>Boning's Projects</title>
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
</head>



<body>
  <!-- Navigation bar -->
  {% include showcase/navbar.html %}
  
  <!-- Banner Section -->
  <section id="banner" class="banner" style="background-image: url('/assets/img/showcase/projects-banner.jpg');">
    <div class="title-section">
      <h1 class="title mb-2">Projects</h1>
      <h2 class="subtitle">Engineering | Coding | Science</h2>
    </div>
  </section>

  {% assign sorted = site.projects | sort: "date" | reverse %}
  <!-- Cards Section -->
  <section class="container" style="height: 100rem;">
    <div class="showcase">

      {% for project in sorted %}
      <a href="{{ project.url }}" style="text-decoration: none;">
        <div class="card">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1492546643178-96d64f3fd824?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ project.title }}</h5>
              {% if project.subtitle %}
                <p class="card-subtitle">{{ project.subtitle }}</p>
              {% endif %}
            </div>

            <div class="card-footer justify-content-bottom">
                {% for t in project.tags  %}
                  {% assign tag = site.tags | where:"tag-id", t | first %}
                  <span class="badge project-tag" style="background-image: linear-gradient(to right, {{tag.tag-color.top}} 5%, {{tag.tag-color.bottom}} 100%);">
                    {{ tag.tag-title }}
                  </span>
                {% endfor %}
            </div>
        </div>
      </a>
      {% endfor %}

    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="/assets/js/showcase/projects.js"></script>
  <script src="/assets/js/showcase/script.js"></script>

</body>
