---
layout: default
title: resume
browser_title: Boning's Experiences
type: showcase
styles:
  - /assets/css/showcase/experiences.css
---
<!-- Navigation bar -->
{% include showcase/navbar.html %}
<!-- Banner Section -->
{% include showcase/banner.html
  banner_class="experience-banner"
  title="Experiences"
  subtitle="Education | Jobs | Awards"
  label="Experiences"
%}
{% assign sorted_jobs = site.experiences | sort: "start-date" | reverse %}
<!-- Experiences Section -->
<section class="container mb-5" >
    <div class="showcase">
        {% for job in sorted_jobs %}
        {% if job.shown %}
        {% include showcase/job-card.html job=job %}
        {% endif %}
        {% endfor %}
    </div>
</section>
