---
layout: default
title: resume
browser_title: Boning's Experiences
type: showcase
styles:
  - /assets/css/showcase/experiences.css
scripts:
  - https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js
---
<!-- Navigation bar -->
{% include showcase/navbar.html %}
<!-- Banner Section -->
{% include showcase/banner.html
  image="/assets/img/showcase/experience-banner.jpg"
  title="Experiences"
  subtitle="Education | Jobs | Awards"
%}
<!-- Education Section -->
<!-- <section class="container mb-5" style="background-color: grey;">
    <div class="showcase">
        <h1>Section 1</h1>
    </div>
</section> -->
{% assign sorted_jobs = site.experiences | sort: "start-date" | reverse %}
<!-- Experiences Section -->
<section class="container mb-5" >
    <div class="showcase">
        {% for job in sorted_jobs %}
        {% if job.shown %}
        {% include showcase/job-card.html job=job %}
        {% endif %}
        {% endfor %}
    </div>
</section>
