.grid {
    margin: auto;
}

.grid-item {
    width: 250px;
    margin-bottom: 30px;
}

.grid-item img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    transition-duration: 0.25s;
}

.grid-item img:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    transform: translate(-2px, -2px);
    transition-duration: 0.25s;
}

.artwork-modal-title {
    font-size: 24px;
}

.artwork-modal-info {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 1rem;
}

.artwork-modal-info h2 {
    color: rgb(140, 140, 140);
    font-size: 14px;
}


.artwork-modal-img {
    max-width: 100%;
    margin: auto !important;
}

