---
---

.banner {
    width: auto;
    height: 16rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 1px 8px rgba(5, 30, 60, 0.85);
}
.projects-banner {
    background-image: url("../../img/showcase/projects-banner.jpg");
}
.artwork-banner {
    background-image: url("../../img/showcase/artwork-banner.jpg");
}
.experience-banner {
    background-image: url("../../img/showcase/experience-banner.jpg");
}
.title-section {
    color: white;
    text-align: center;
}
.project-banner-title-with-link {
    position: relative;
    top: 10px;
}
.title {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 2.6rem;
    text-shadow: 1px 1px 4px black;
    color: rgb(242, 242, 242);
    @media screen and (max-width: 468px){
        font-size: 2.2rem;
    }
}
.subtitle {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 1px 1px 4px black;
    color: rgb(242, 242, 242);
    @media screen and (max-width: 468px){
        font-size: 1rem;
    }
}
{% for tag in site.tags %}
.project-tag-{{ tag.tag-id }} {
    background-image: linear-gradient(to right, {{ tag.tag-color.top }} 5%, {{ tag.tag-color.bottom }} 100%);
}
{% endfor %}
