<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Framework-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="icon" href="{{ site.baseurl }}/assets/img/icon.png">
    
     <!-- Conditional Include -->
    {% if page.title == "home" %}
        <title>Boning's Page</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index/navbar.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index/style.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index/timeline.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index/showcase.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index/skills.css">

    {% elsif page.title == "projects" %}
        <title>Boning's Projects</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/showcase/style.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/showcase/navbar.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/showcase/projects.css">

    {% elsif page.title == "artwork" %}
        <title>Boning's Artwork</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/showcase/style.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/showcase/navbar.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/showcase/artwork.css">

    {% elsif page.title == "resume" %}
        <title>Boning's Resume</title>

    {% endif %}

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
</head>