<!-- The header component includes the header used by all pages.
Page specific header components are defined in the page file. -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Framework-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="icon" href="{{ site.baseurl }}/assets/img/icon.png">
    
    <!-- Append Page Type -->
    {% assign page_type = page.type %}

    {% if page.layout == "project-post" %}
    {% assign page_type = "showcase" %}
    {% endif %}

    <!-- Conditional Include -->
    {% if page_type == "index" %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index/navbar.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index/style.css">
    {% elsif page_type == "showcase" %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/showcase/style.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/showcase/navbar.css">
    {% endif %}

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
</head>