<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="icon" href="{{ '/assets/img/icon.png' | relative_url }}">

{% assign page_type = page.type %}
{% if page.layout == "project-post" %}
  {% assign page_type = "showcase" %}
{% endif %}
{% if page_type == "index" %}
  <link rel="stylesheet" href="{{ '/assets/css/index/navbar.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/index/style.css' | relative_url }}">
{% elsif page_type == "showcase" %}
  <link rel="stylesheet" href="{{ '/assets/css/showcase/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/showcase/navbar.css' | relative_url }}">
{% endif %}

<link href="https://fonts.googleapis.com/css?family=PT+Serif:700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Vollkorn:400,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
