<section id="banner" class="banner{% if include.banner_class %} {{ include.banner_class }}{% endif %}"{% if include.label %} aria-label="{{ include.label }}"{% endif %}>
  <div class="title-section{% if include.container %} container{% endif %}{% if include.title_section_class %} {{ include.title_section_class }}{% endif %}">
    <h1 class="{{ include.title_class | default: 'title' }} mb-{{ include.title_margin | default: '2' }}">{{ include.title }}</h1>
    {% if include.subtitle %}
    <h2 class="{{ include.subtitle_class | default: 'subtitle' }}">{{ include.subtitle }}</h2>
    {% endif %}
    {% if include.content %}
      {{ include.content }}
    {% endif %}
  </div>
</section>
