<div class="row job-card mx-2 mx-md-0 mt-4">
  <div class="d-flex w-100 flex-column flex-md-row">
    <div class="logo-cover h-100">
      <div class="mx-auto h-100 d-flex">
        <img class="m-auto card-img-top w-50" src="{{ include.job.logo }}" alt="{{ include.job.company }} logo">
      </div>
    </div>
    <div class="job-details d-flex flex-column flex-fill">
      <div class="job-header d-flex d-md-block">
        <div class="logo-min d-flex d-md-none">
          <img class="my-auto" src="{{ include.job.logo }}" alt="{{ include.job.company }} logo">
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="d-flex flex-column flex-md-row">
            <span class="company-name">{{ include.job.company }}</span>
            <span class="job-title ml-md-2">{{ include.job.job-title }}</span>
          </div>
          {% if include.job.end-date %}
            {% assign end_date = include.job.end-date | date: "%b %Y" %}
          {% else %}
            {% assign end_date = "Now" %}
          {% endif %}
          <span class="job-date">{{ include.job.start-date | date: "%b %Y"}} - {{ end_date }}</span>
        </div>
      </div>
      <div class="job-description d-flex flex-column h-100">
        {{ include.job.content }}
      </div>
    </div>
  </div>
</div>
