<!-- Navigation Bar Section -->
<nav id="navbar" class="navbar navbar-expand-sm navbar-dark">
  <div class="container">
      <button
      class="navbar-toggler border-0"
      data-toggle="collapse"
      data-target="#navbar_main"
      >
      <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar_main" class="collapse navbar-collapse">
      <ul class="navbar-nav">
          <li class="navbar-item mr-5">
            <a href="{{ site.baseurl }}/index.html" class="nav-link">Home</a>
          </li>
          <li class="navbar-item mr-5">
            <a href="{{ site.baseurl }}/projects.html" class="nav-link">Projects</a>
          </li>
          <li class="navbar-item mr-5">
            <a href="{{ site.baseurl }}/artwork.html" class="nav-link">Artwork</a>
          </li>
          <li class="navbar-item mr-5">
            <a href="{{ site.baseurl }}/resume.html" class="nav-link">Experiences</a>
          </li>
      </ul>
      </div>
  </div>
</nav>