$title-color: #3e4758;
$text-color: #252b38;

.post-title {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 2.6rem;
    text-shadow: 1px 1px 4px black;
    color: rgb(242, 242, 242);
}

.post-subtitle {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-size: 1.2rem;
    // font-weight: bold;
    text-shadow: 1px 1px 4px black;
    color: rgb(242, 242, 242);
}

.project-photo {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 3px;
    box-shadow: 2px 2px 7px -1px rgba(0, 0, 5, 0.5)
}

.content-area {
    h1 {
        // font-family: 'PT Serif';
        font-family: 'Merriweather', serif;
        font-size: 2rem;
        font-weight: 900;
        color: $title-color;
        margin: 2rem 0rem 1rem 0rem;
    }

    h2 {
        // font-family: 'PT Serif';
        font-family: 'Merriweather', serif;
        font-size: 1.6rem;
        font-weight: 900;
        color: $title-color;
        margin: 2rem 0rem 1rem 0rem;
    }

    h3 {
        // font-family: 'PT Serif';
        font-family: 'Merriweather', serif;
        font-size: 1.3rem;
        font-weight: 900;
        color: $title-color;
        margin: 2rem 0rem 1rem 0rem;
    }

    p {
        padding: 0.20rem 0;
        font-family: 'Merriweather', serif;
        font-size: 1.1rem;
        color: $text-color;
    }

    li {
        font-family: 'Merriweather', serif;
        font-size: 1.1rem;
        color: $text-color;
    }

    

}