<footer id="footer" class="page-footer">
  <div class="text-center">
    <div class="footer-wrapper px-4 py-4">
      <div class="footer-body">
        <div class="d-block text-center">
          <h1 class="footer-title">Let's connect!</h1>
          <p class="footer-subline">Feel free to connect and talk with me about any interesting ideas about projects,
            artwork or just life!</p>
        </div>
        <div class="footer-icon-bar">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="my-1 text-center d-inline-flex">
                  <a href="mailto:boning.contact@gmail.com" class="icon">
                    <img src="{{ site.baseurl }}/assets/img/index/icon-email.svg" alt="">
                  </a>
                  <a href="https://www.facebook.com/boooning" class="icon">
                    <img src="{{ site.baseurl }}/assets/img/index/icon-fb.svg" alt="">
                  </a>
                  <a href="https://github.com/boningdong" class="icon">
                    <img src="{{ site.baseurl }}/assets/img/index/icon-git.svg" alt="">
                  </a>
                  <a href="https://www.instagram.com/dbndbn6279/" class="icon">
                    <img src="{{ site.baseurl }}/assets/img/index/icon-ins.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/boning-dong/" class="icon">
                    <img src="{{ site.baseurl }}/assets/img/index/icon-link.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center" style="color: #606368;">
      © Designed by: Boning Dong
    </div>
  </div>
</footer>
