<div class="container px-4 py-5 p-md-5">
    <!-- Title -->
    <div class="text-center section-title">
      <h1 class="section-title">Works</h1>
      <div class="d-inline-flex mt-3 mb-4 showcase-icon-group">
        <a id="button-artwork" class="mx-2 showcase-button">Artwork</a>
        <a id="button-project" class="mx-2 showcase-button">Projects</a>
      </div>
    </div>

    <div id="art-showcase" style="display: none;">
      <div class="description text-center">
        <p>It is only by drawing often, drawing everything, drawing incessantly, that one fine day you discover, to your surprise, that you have rendered something in its true character.</p>
      </div>
      <div class="row text-center">
        <div class="col-12 col-md-4 px-2 py-3 px-md-1 showcase-item">
          <img src="/assets/img/index/drawing-1.jpg" alt="" class="work-itme">
        </div>
        <div class="col-12 col-md-4 px-2 py-3 px-md-1 showcase-item">
          <img src="/assets/img/index/drawing-2.jpg" alt="" class="work-itme">
        </div>
        <div class="col-12 col-md-4 px-2 py-3 px-md-1 showcase-item">
          <img src="/assets/img/index/drawing-3.jpg" alt="" class="work-itme">
        </div>
      </div>

      <div class="text-center">
        <a class="d-inline-flex mt-3 general-button">More Artwork</a>
      </div>

    </div>

    <div id="project-showcase" style="display: none;">
      <div class="description text-center">
        <p>It is only by drawing often, drawing everything, drawing incessantly, that one fine day you discover, to your surprise, that you have rendered something in its true character.</p>
      </div>
      <div class="row text-center">
        <div class="col-12 col-md-4 px-2 py-3 px-md-1 showcase-item">
          <img src="/assets/img/index/project-1.jpg" alt="" class="work-itme">
        </div>
        <div class="col-12 col-md-4 px-2 py-3 px-md-1 showcase-item">
          <img src="/assets/img/index/project-2.jpg" alt="" class="work-itme">
        </div>
        <div class="col-12 col-md-4 px-2 py-3 px-md-1 showcase-item">
          <img src="/assets/img/index/project-3.jpg" alt="" class="work-itme">
        </div>
      </div>

      <div class="text-center">
        <a class="d-inline-flex mt-3 general-button">More Projects</a>
      </div>

    </div>




  </div>