<div class="container px-4 py-5 p-md-5">
    <!-- Title -->
    <div class="text-center section-title">
      <h1 class="section-title">Works</h1>
      <div class="d-inline-flex mt-3 mb-4 showcase-icon-group">
        <a id="button-artwork" class="mx-2 showcase-button">Artwork</a>
        <a id="button-project" class="mx-2 showcase-button">Projects</a>
      </div>
    </div>

    <div id="art-showcase" style="display: none;">
      <div class="description text-center">
        <p>"We must never forget that art is not a form of propaganda; it is a form of truth." — John F. Kennedy</p>
      </div>
      <div class="row text-center">
        <div class="col-12 col-md-4 px-2 py-3 px-md-1 showcase-item">
          <img src="{{ site.baseurl }}/assets/img/index/drawing-1.jpg" alt="" class="work-itme">
        </div>
        <div class="col-12 col-md-4 px-2 py-3 px-md-1 showcase-item">
          <img src="{{ site.baseurl }}/assets/img/index/drawing-2.jpg" alt="" class="work-itme">
        </div>
        <div class="col-12 col-md-4 px-2 py-3 px-md-1 showcase-item">
          <img src="{{ site.baseurl }}/assets/img/index/drawing-3.jpg" alt="" class="work-itme">
        </div>
      </div>

      <div class="text-center">
        <a href="{{ site.baseurl }}/artwork.html" class="d-inline-flex mt-3 general-button">More Artwork</a>
      </div>

    </div>

    <div id="project-showcase" style="display: none;">
      <div class="description text-center">
        <p>"As engineers, we were going to be in a position to change the world – not just study it." — Henry Petroski</p>
      </div>
      <div class="row text-center">
        <div class="col-12 col-md-4 px-2 py-3 px-md-1 showcase-item">
          <img src="{{ site.baseurl }}/assets/img/index/project-1.jpg" alt="" class="work-itme">
        </div>
        <div class="col-12 col-md-4 px-2 py-3 px-md-1 showcase-item">
          <img src="{{ site.baseurl }}/assets/img/index/project-2.jpg" alt="" class="work-itme">
        </div>
        <div class="col-12 col-md-4 px-2 py-3 px-md-1 showcase-item">
          <img src="{{ site.baseurl }}/assets/img/index/project-3.jpg" alt="" class="work-itme">
        </div>
      </div>

      <div class="text-center">
        <a href="{{ site.baseurl }}/projects.html" class="d-inline-flex mt-3 general-button">More Projects</a>
      </div>

    </div>




  </div>