<div class="container px-4 py-5 p-md-5">
    <!-- Title -->
    <div class="text-center section-title">
      <h1 class="section-title">Works</h1>
      <div class="d-inline-flex mt-3 mb-4 showcase-icon-group">
        {% for showcase in site.data.home.work_showcases %}
          <a id="button-{{ showcase[0] }}" class="mx-2 showcase-button">{{ showcase[1].button_label }}</a>
        {% endfor %}
      </div>
    </div>
    {% for showcase in site.data.home.work_showcases %}
    <div id="{{ showcase[0] }}-showcase" class="work-showcase-panel">
      <div class="description text-center">
        <p>{{ showcase[1].quote }}</p>
      </div>
      <div class="row text-center">
        {% for image in showcase[1].images %}
        <div class="col-12 col-md-4 px-2 py-3 px-md-1 showcase-item">
          <img src="{{ image | relative_url }}" alt="{{ showcase[1].button_label }} work sample" class="work-itme">
        </div>
        {% endfor %}
      </div>
      <div class="text-center">
        <a href="{{ showcase[1].href | relative_url }}" class="d-inline-flex mt-3 general-button">{{ showcase[1].cta }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
