<div class="container px-4 py-5 p-md-5">
  <!-- Title -->
  <div class="text-center">
    <h1 class="section-title">Skills</h1>
  </div>

  <div id="skills-showcase" class="row py-3 py-md-4">
    <div class="col-12 col-md-4 px-2 my-3 my-md-0">
      <div class="skills-showcase">
        <div class="skills-top">
          <img src="{{ site.baseurl }}/assets/img/index/hardware.svg" alt="">
          <h1>Hardware</h1>
        </div>
        <!-- Other skill items on the left -->
        <div class="skills-container">
          <a class="skill-item">PCB Design</a>
          <a class="skill-item">Simulation</a>
          <a class="skill-item">Soldering</a>
          <a class="skill-item">FPGA</a>
          <a class="skill-item">MCU</a>
          <a class="skill-item">Embedded System Design</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 px-2 my-3 my-md-0">
      <div class="skills-showcase">
        <div class="skills-top">
          <img src="{{ site.baseurl }}/assets/img/index/software.svg" alt="">
          <h1>Software</h1>
        </div>
        <!-- Other skill items on the left -->
        <div class="skills-container">
          <a class="skill-item">C/C++</a>
          <a class="skill-item">Python</a>
          <a class="skill-item">Java</a>
          <a class="skill-item">C#</a>
          <a class="skill-item">HTML/CSS/Js</a>
          <a class="skill-item">Android</a>
          <a class="skill-item">IOS</a>
          
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 px-2 my-3 my-md-0">
      <div class="skills-showcase">
        <div class="skills-top">
          <img src="{{ site.baseurl }}/assets/img/index/art.svg" alt="">
          <h1>Art & Design</h1>
        </div>
        <!-- Other skill items on the left -->
        <div class="skills-container">
          <a class="skill-item">Pencil Drawing</a>
          <a class="skill-item">Painting</a>
          <a class="skill-item">UX Design</a>
          <a class="skill-item">UI Design</a>
          <a class="skill-item">Video Editing</a>
          <a class="skill-item">3D Modeling</a>
        </div>
      </div>
    </div>

  </div>
</div>