<div class="container px-4 py-5 p-md-5">

  <div class="text-center">
    <h1 class="section-title">Experiences</h1>
  </div>
  <!-- Title -->
  <div class="row text-center py-5">
    <div class="col-12 col-md-4 px-0 py-3 px-md-2 py-md-0">
      <div class="card mx-auto company-card">
        <div class="company-logo d-flex">
          <img class="card-img-top" src="/assets/img/index/transphorm.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title job-title">Testing Engineering Intern</h5>
          <p class="card-text">Developed the firmware for TMS320F series MCU and built a automation testing platform using C#.</p>
          <a href="https://www.transphormusa.com/en/" class="general-button">Visit Transphorm</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 px-0 py-3 px-md-2 py-md-0">
      <div class="card mx-auto company-card">
        <div class="company-logo d-flex">
          <img class="card-img-top" src="/assets/img/index/karlstorz.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title job-title">Component Engineering Intern</h5>
          <p class="card-text">Assisted with PCB boards debugging. Classified and documented electrical and mechanical components.</p>
          <a href="https://www.karlstorz.com/us/en/" class="general-button">Visit Karlstorz</a>
        </div>
      </div>
    </div>

  
    <div class="col-12 col-md-4 px-0 py-3 px-md-2 py-md-0">
      <div class="card mx-auto company-card">
        <div class="company-logo d-flex">
          <img class="card-img-top" src="/assets/img/index/microsoft.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title job-title">Hardware Engineering Intern</h5>
          <p class="card-text">Currently working on sensors validation and developing an automation testing platform from scratch using C#.</p>
          <a href="https://www.microsoft.com/en-us/" class="general-button">Visit Microsoft</a>
        </div>
      </div>
    </div>
  </div>
</div>