<!DOCTYPE html>
<html lang="en">
<head>
  {% include header.html %}
  {% if page.browser_title %}
    <title>{{ page.browser_title }}</title>
  {% elsif page.layout == "project-post" and page.title %}
    <title>Project - {{ page.title }}</title>
  {% elsif page.title %}
    <title>{{ page.title | capitalize }} | {{ site.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}

  {% if page.layout == "project-post" %}
    <link rel="stylesheet" href="{{ '/assets/css/showcase/projects.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/showcase/project-posts.css' | relative_url }}">
  {% endif %}
  {% for stylesheet in page.styles %}
    {% if stylesheet contains '://' %}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {% else %}
      <link rel="stylesheet" href="{{ stylesheet | relative_url }}">
    {% endif %}
  {% endfor %}
</head>
<body>
  {{ content }}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  {% for script in page.scripts %}
    {% if script contains '://' %}
      <script src="{{ script }}"></script>
    {% else %}
      <script src="{{ script | relative_url }}"></script>
    {% endif %}
  {% endfor %}
</body>
</html>
