---
layout: default
---
<!-- Navigation bar -->
{% include showcase/navbar.html %}
<!-- Banner Section -->
{% assign project_title = page.title | default: "Project" %}
{% if page.external-link %}
  {% assign title_section_class = "project-banner-title-with-link" %}
{% else %}
  {% assign title_section_class = "" %}
{% endif %}
{% capture project_banner_content %}
  {% if page.date %}
  <h2 class="post-subtitle">Updated: {{ page.date | date: "%B %Y"}}</h2>
  {% endif %}
  {% if page.tags %}
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        {% for tag_id in page.tags %}
          {% include showcase/tag-badge.html tag_id=tag_id %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if page.external-link %}
    <div class="row d-block justify-content-center">
      <a class="btn btn-dark external-link" role="button" href="{{ page.external-link }}">Project Link</a>
    </div>
  {% endif %}
{% endcapture %}
{% include showcase/banner.html
  banner_class="projects-banner"
  title=project_title
  title_class="post-title"
  title_margin="1"
  container=true
  title_section_class=title_section_class
  label=project_title
  content=project_banner_content
%}
<!-- Cards Section -->
<section class="container mb-5 pb-4">
  <div class="px-3 px-md-5">
    <div class="px-md-5 content-area">
      {{ content }}
    </div>
  </div>
</section>
